
/* .add_train{

  margin: 20px;
  width: 150px;
  align-items: center;

}

label{

  width: 150px;

}
input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */

  /* .input{

  margin: 20px;

}

label{

  width: 150px;

}

input{

  width: 200px;

} */