/* Create a flex container to center the content vertically and horizontally */

.train-details-container {
  /* Existing styles for .train-details-container */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Set the container height to fill the entire viewport */

  .train-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }


  /* Other existing styles for the rest of the component */
}

.train-details-top-container {
  background-color: #f8f9fa; /* Set the background color */
  padding: 12px 0; /* Add padding to create space around the top line */
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  display: flex;
  align-items: center;
}

.header-label {
  font-weight: bold;
  margin-right: 8px;
}

.header-value {
  background-color: #f4f4f4;
  padding: 6px 10px;
  border-radius: 4px;
  margin-right: 12px;
}


/* Enclose content in a box with a white background */

 

.content-box {

 

  background-color: white;

 

  padding: 20px;

 

  border-radius: 10px;

 

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  opacity: 80%;

  width: 95%;

  height: fit-content;

  margin: auto;

 

}

 

 

 

/* Center the table */

 

table {

 

  margin: 20px 0;

 

  /*width: 90%;*/

 

  border-collapse: collapse;

 

  width: 100%;

 

}

 

 

 

th, td {

 color: #000;

  border: 1px solid #ccc;

 

  padding: 8px;

 

  text-align: center;

 

}

 

 

 

th {

 

  background-color: #f2f2f2;

 

}

 

 

 

/* Center the submit button */

 

button {

 

  margin-top: 20px;

 

}

 

 

 

/* Add some spacing between radio buttons and text */

 

input[type="radio"] {

 

  margin-right: 5px;

 

}

 

 

 

.page-container {

 

  display: flex;

 

  justify-content: center;

 

  align-items: center;

 

  height: 100vh; /* Set the container height to fill the entire viewport */

 

  background-image: url("../../public/Train1.png");

 

  background-repeat: no-repeat;

 

  background-position: center;

 

  background-size: cover;

 

}

 

/* Darken the radio button circle */

input[type="radio"] {

  margin-right: 5px;

  appearance: none; /* Remove default appearance */

  width: 16px;

  height: 16px;

  border: 2px solid #000; /* Border color for the circle */

  border-radius: 50%; /* Make it a circle */

  background-color: transparent;

}

 

input[type="radio"]:checked {

  background-color: #000; /* Darken the circle when selected */

}

 

/* Apply some padding to the table rows for better interaction */

tr {

  cursor: pointer;

  padding: 10px;

}

 

tr:hover {

  background-color: #f2f2f2; /* Change background color on hover */

}